((*- extends 'latex/index.tex.j2' -*))

((* block author *))
\author{Nicolas Grisouard, nicolas.grisouard@utoronto.ca \\
\small{From notes by Sabine Stanley (now at Johns Hopkins)}}
((* endblock author *))

((* block date *))
\date{4 July 2023}
((* endblock date *))

((* block title *))
\title{{\small PHY254H1-SUM (Classical Mechanics), University of Toronto} \\ \vspace{2ex} Lecture 1: $\vec F  = m\vec a$ problems}
((* endblock title *))
